<!-- ================ Start banner area ================= -->

<section class="blog-banner-area" id="category">
		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center">
					<h1>Panier</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
       				</nav>
				</div>
			</div>
    </div>
	</section>

	<!-- ================ End banner area ================= -->

	<!--================= Start Cart Area =================-->

	<section class="cart_area">
    <div class="container">
      <div class="cart_inner">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                  <th scope="col">Produit</th>
                  <th scope="col">Catégorie</th>
                  <th scope="col">Supprimer du panier</th>
                  <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>

              <% @cart_items.each do |item| %>
                <tr>
                  <td>
                  	<div class="media">
                      <div class="d-flex">
                          <img src="img/cart/cart1.png" alt="">
                      </div>
                      <div class="media-body">
                          <p><%= item.title %></p>
                      </div>
                    </div>
                  </td>
                  <td>
                      <h5>Chaton</h5>
                  </td>
                  <td>

                  </td>
                  <td>
                      <h5><%= item.price %></h5>
                  </td>
									<td>
										<div class="checkout_btn_inner d-flex align-items-center">
											<%= link_to "supprimer", destroy_cart_item_path(:id => item.id), method: "DELETE", class:"btn btn-danger" %>
										</div>
									</td>
                </tr>
              <% end %>

                <tr>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>
                        <h5>Total du panier</h5>
                    </td>
                    <td>
											<%= number_to_currency(@cart.sub_total, :unit=>'€') %>
                    </td>
                </tr>

                <tr class="out_button_area">
                    <td class="d-none-l">

                    </td>
                    <td class="">

                    </td>
                    <td>

                    </td>
                    <td>
                      <div class="checkout_btn_inner d-flex align-items-center">
												<%= link_to 'Continuer mes achats', root_path, class:"primary-btn ml-2" %>

												<%= form_tag url_for(action: 'create', :controller => 'orders'), method: "post" do %>

												  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
												          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
												          data-description="A month's subscription"
												          data-amount="<%= @amount %>"
												          data-locale="eur">
												  </script>
												<% end %>
                      </div>
                    </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <!--================ End Cart Area =================-->
